* {
  margin: 0;
  padding: 0;
}

body {
  background:#333333;

}

.panda {
  border: 2px solid #020202;
  width: 500px;
  height: 500px;
  border-radius: 300px 300px 300px 300px;
  position: relative;
  background: #fff;
  left: 600px;
  top: 250px;
}

.yeux{
  top: 40px;
  position: relative;
  z-index: 1;
}
.oeil_gauche {
  border: 40px solid #020202;
  border-radius: 150px/260px;
  width: 20px;
  height: 130px;
  position: absolute;
  background: #000;
  left: 100px;
  transform: rotate(30deg)

}

.oeil_droite {
  border: 40px solid #020202;
  border-radius: 150px/260px;
  width: 20px;
  height: 130px;
  position: absolute;
  background: #020202;
  right: 100px;
  transform: rotate(-30deg)

}
.fond1{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  top: 70px;
  position: absolute;
  /*animation-iteration-count: 2;*/
  animation: slidein  1s infinite;
  /*animation-name: slidein;*/
}
.fond2{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  top: 70px;
  position: absolute;
  left: -15px;
 /* animation-iteration-count:infinite;*/
  animation : slidein  1s infinite;
  /*animation-name: slidein;*/
  
}
@keyframes slidein{
  from{
    margin-left: 0%;
    width: 150%;
  }
  to{
    margin-left: 100%;
    width: 100%;
  }
}


.oreille_droite {
  position: absolute;
  top: -50px;
  right: -70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
  border: solid rgb(11, 11, 11) 40px;


}


.oreille_gauche {
  position: absolute;
  top: -50px;
  left: -70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
  border: solid rgb(11, 11, 11) 40px;
}

  .bouche {
    position: absolute;
    background-color: white;
    left: 20%;
    border: 2px solid white;
    width: 300px;
    height: 270px;
    border-radius: 50%;
    box-shadow: 0px 25px 5px black;
    top: 180px;
  }

  .nez {
    position: absolute;
    height: 0;
    width: 0;
    border-right: 43px solid transparent;
    border-bottom: 45px solid #020202;
    border-left: 43px solid transparent;
    top: 250px;
    right: 205px;
    z-index: 1;
    transform: rotate(180deg)
  }